{
  "printWidth": 100,
  "singleQuote": true,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "^.*(css|njk)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["classProperties", "exportDefaultFrom", "jsx"]
}
